.notificationContainer {
  z-index: 1000;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 1rem);
  height: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;
  user-select: none;
}

.notification {
  font-size: 1.2rem;
  padding: 1rem;
  display: flex;
  animation: myFade 0.2s ease;
  pointer-events: auto;
}

.notification.error {
  color: rgb(132, 21, 43);
  background-color: rgb(255, 243, 246);
  border: 1px solid rgb(255, 189, 203);
}
.notification.success {
  color: rgb(29, 88, 69);
  background-color: rgb(235, 254, 248);
  border: 1px solid rgb(188, 254, 233);
}
@keyframes myFade {
  0% {
    transform: translateY(100);
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    transform: translateY(0%);
  }
}
